/* =-=-=-=-=-=-=-= 기본 세팅 및 초기화 =-=-=-=-=-=-=-= */

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: "NanumSquare";
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 650;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 36px;
  font-weight: 650;
}

h3 {
  font-size: 24px;
  font-weight: 650;
}

h4 {
}

a {
  text-decoration: none;
  color: black;
}

article,
section {
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0.3em 0;
  list-style-type: none;
}

svg {
  transition: 0.5s ease-in-out;
  fill: var(--font-icon-color);
}

code {
  padding: 3px 6px;
  border: none;
  border-radius: 3px;
  background-color: #e9ecef;
  font-size: 1.6rem;
  font-family: "Pretendard", "Malgun Gothic", sans-serif;
}

/* 텍스트 레인보우 색깔변화 */
@keyframes textAnim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* 아이콘 흔들 약함*/
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
}

.body {
  flex: 1;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loading {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: brown;
  align-items: center;
  background-color: black;
  opacity: 0.5;
  font-size: 100px;
}

footer {
  display: block;
  z-index: 999;
  height: 200px;
  border-top: 1px solid lightgray;
  background-color: white;
}

.effectFont {
  animation: textAnim 5s ease-out infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 250% 500%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* =-=-=-=-=-=-=-= 자주쓰는 목록 변수화 =-=-=-=-=-=-=-= */

:root {
  --font-main-color: rgb(75, 115, 240);
  --font-sub-color: rgb(17, 56, 255);
  --button-main-color: rgb(75, 115, 240);
  --button-hover-color: rgb(108, 141, 240);
  --button-sub-color: lightgray;
  --button-sub-hover-color: rgb(222, 220, 220);
  --site-main-color: rgb(171, 199, 251);
  --site-sub-color: rgb(152, 186, 249);
  --background-main-color: rgb(247, 250, 255);
  --background-sub-color: rgb(211, 234, 250);
  --background-input-color: rgb(225, 241, 251);
  --font-icon-color: lightgray;
}

/* =-=-=-=-=-=-=-= 배너 스타일 =-=-=-=-=-=-=-= */

.header {
  display: block;
}

.header .wrapper {
  max-width: inherit;
  padding: 0;
}

.wrapper {
  position: relative;
  max-width: 1100px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 1em;
  box-sizing: border-box;
}

.title {
  max-width: 100%;
  height: 100vh;
  /* 배경 이미지 관련 속성 제거 */
  position: relative; /* 비디오 태그 위치 조정을 위한 추가 */
  background-color: black;
  overflow: hidden;
  z-index: -1;
}

.title video {
  position: fixed; /* 부모 요소 상대 위치 지정 */
  top: 0;
  left: 0;
  width: 109%; /* 부모 요소 전체 영역 채움 */
  height: 100vh; /* 부모 요소 전체 영역 채움 */
  object-fit: cover; /* 비디오가 부모 요소 크기에 맞게 cover */
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
}

.writer {
  position: absolute;
  top: 100vh; /* 페이지 하단에 위치하도록 설정 */
  width: 100%;
  background-color: white;
  z-index: 0;
}

.logo-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  font-size: 80px;
  font-weight: bold;
  color: var(--font-icon-color);
  text-align: center;
  transform: translateY(50%);
}

/* =-=-=-=-=-=-=-= 상단바 네비게이션 =-=-=-=-=-=-=-= */
.nav {
  position: relative;
  max-width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.nav-logo {
  font-size: larger;
  font-weight: 750;
  color: var(--font-icon-color);
  cursor: pointer;
  display: flex;
}

/* 상단바가 고정됐을 때 */
.nav.fixed {
  background-color: #fff;
  position: fixed;
  max-width: inherit;
  top: 10px;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  left: 10%;
  /* width: 80%; <-- 이게 80%라서 그럼*/
  right: 10%;
  justify-content: space-around;
  z-index: 999;
  padding: 0 3%;
  align-items: center;
}

.nav.fixed.opened {
  left: 10vw;
  right: 27vw;
}

.nav.fixed .nav-logo {
  transition: 0.5s ease-in-out;
  color: var(--font-main-color);
}
.nav.fixed svg {
  fill: var(--font-main-color);
}

.bar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.8vmin;
  border-radius: 0 1em 1em 0;
  transition: all 0.2s;
  transform-origin: 0;
  animation: textAnim 5s infinite;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  z-index: 999;
  background-size: 200% 100%; /* 배경 이미지를 넓게 설정하여 애니메이션 효과가 눈에 띄도록 함 */
}
/* -=-=-=-=-= 반응형 상단바 디자인 =-=-=-=-=- */

/* 사이드바 열린 상단바 미디어 쿼리 */
@media (max-width: 1405px) {
  .nav.fixed.opened {
    left: 7vw;
  }
}

@media (max-width: 1200px) {
  .nav.fixed.opened {
    left: 5vw;
  }
}

@media (max-width: 900px) {
  .nav.fixed.opened {
    left: 2vw;
  }
}

/* 사이드바 닫힌 상단바 미디어 쿼리 */
@media (max-width: 1100px) {
  .nav.fixed {
    left: 15vw;
  }
}
@media (max-width: 700px) {
  .nav.fixed {
    left: 10vw;
  }
}

/* =-=-=-=-=-=-=-= 중단 메인 =-=-=-=-=-=-=-= */

.main {
  padding: 60px 0 10px 0;
  flex: 1;
  background-color: white;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

/* =-=-=-=-=-=-=-= 게시글 =-=-=-=-=-=-=-= */

.post {
  flex: 1;
  min-height: 50vh;
}

.post-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
  flex-wrap: wrap;
}

.special {
  border: 3px dotted lightblue;
}

.b1 {
  animation: floatup 10s linear infinite,
    sideways 5s ease-in-out infinite alternate;
  left: 5%;
  top: 10%;
}
.b2 {
  animation: floatup 5s linear infinite,
    sideways 4s ease-in-out 1s infinite alternate;
  left: 10%;
  top: 20%;
  transform: scale(0.7);
}
.b3 {
  animation: floatup 4s linear infinite,
    sideways 6s ease-in-out 6s infinite alternate;
  left: 20%;
  top: 20%;
  transform: scale(1.2);
}
.b4 {
  animation: floatup 6s linear infinite,
    sideways 5s ease-in-out 3s infinite alternate;
  left: 0%;
  top: 0%;
  transform: scale(0.8);
}
.b5 {
  animation: floatup 8s linear infinite,
    sideways 6s ease-in-out 3s infinite alternate;
  left: 0%;
  top: 30%;
  transform: scale(1.1);
}
.b6 {
  animation: floatup 7s linear infinite,
    sideways 4s ease-in-out 3.5s infinite alternate;
  left: 10%;
  top: 5%;
  transform: scale(0.7);
}
.b7 {
  animation: floatup 6s linear infinite,
    sideways 5s ease-in-out 4s infinite alternate;
  left: 10%;
  top: 0%;
  transform: scale(0.6);
}
@keyframes floatup {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 100%;
  }
}
@keyframes sideways {
  0% {
    margin-left: -40%;
  }
  100% {
    margin-left: 50%;
  }
}
