/* =-=-=-=-=-=-=-= 기본 세팅 및 초기화 =-=-=-=-=-=-=-= */

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'NanumSquare';
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type: none;
}

svg{
  transition: 0.5s ease-in-out;
  fill:var(--font-icon-color);
}

.body{
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.loading{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  color: brown;
  align-items: center;
  background-color: black;
  opacity: 0.5;
  font-size: 100px;
}

/* =-=-=-=-=-=-=-= 자주쓰는 목록 변수화 =-=-=-=-=-=-=-= */

:root{
  --font-main-color: rgb(75,115,240);
  --font-sub-color: rgb(17, 56, 255);
  --font-icon-color: lightgray;
}

/* =-=-=-=-=-=-=-= 배너 스타일 =-=-=-=-=-=-=-= */

.header{
  display: block;
}

.header .wrapper{
  max-width: inherit;
  padding: 0;
}

.wrapper{
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.title {
  max-width: 100%;
  height: 100vh;
  /* 배경 이미지 관련 속성 제거 */
  position: relative; /* 비디오 태그 위치 조정을 위한 추가 */
  background-color: black;
  overflow: hidden;
}

.title video {
  position: absolute; /* 부모 요소 상대 위치 지정 */
  top: 0;
  left: 0;
  width: 109%; /* 부모 요소 전체 영역 채움 */
  height: 100%; /* 부모 요소 전체 영역 채움 */
  object-fit: cover; /* 비디오가 부모 요소 크기에 맞게 cover */
  background-size: cover;
  opacity: 0.5;
}

.logo-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80vh;
  font-size: 80px;
  font-weight: bold;
  color: var(--font-icon-color);
  text-align: center;
  transform: translateY(50%);
}

/* =-=-=-=-=-=-=-= 상단바 네비게이션 =-=-=-=-=-=-=-= */
.nav{
  position: relative;
  max-width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.nav-logo{
  font-size: larger;
  font-weight: 750;
  color: var(--font-icon-color);
  cursor: pointer;
}

/* 상단바가 고정됐을 때 */
.nav.fixed {
  background-color: #fff;
  position: fixed;
  top: 10px;
  transition: 0.5s ease-in-out;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  left: 10%;
  width: 80%;
  gap: 20em;
  justify-content: space-around;
  align-items: center;
}

.nav.fixed .nav-logo{
  transition: 0.5s ease-in-out;
  color: var(--font-main-color);
}
.nav.fixed svg{
  fill:var(--font-main-color);
}
/* =-=-=-=-=-=-=-= 중단 메인 =-=-=-=-=-=-=-= */

.main{
  padding: 60px 0;
  flex: 1;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* =-=-=-=-=-=-=-= 게시글 =-=-=-=-=-=-=-= */

.post{
  flex: 3;
  height: 70vh;
  overflow-y: scroll;
}

.post-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3em;
}

.post-meta{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 1em;
}

/* =-=-=-=-=-=-=-= 사이드 네비게이션 =-=-=-=-=-=-=-= */

.category{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.category-list{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.category-low-ul{
  list-style-type: " - ";
}

footer{
  height: 150px;
  border-top: 1px solid lightgray;
}