/* =-=-=-=-=-=-=-= 기본 세팅 및 초기화 =-=-=-=-=-=-=-= */

@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'NanumSquare';
}

h1,h2,h3,h4,h5,h6,p{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style-type: none;
}

svg{
  fill:var(--font-main-color);
}

.body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* =-=-=-=-=-=-=-= 자주쓰는 목록 변수화 =-=-=-=-=-=-=-= */

:root{
  --font-main-color: rgb(75,115,240);
  --font-sub-color: rgb(17, 56, 255);
}

/* =-=-=-=-=-=-=-= 배너 스타일 =-=-=-=-=-=-=-= */

.header{
  display: block;
}

.header .wrapper{
  max-width: inherit;
  padding: 0;
}

.wrapper{
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
  box-sizing: border-box;
}

.title{
  max-width: 720px;
  height: 420px;
  margin: 0 auto;
  background: url(./banner.png) no-repeat 50% 0;
  background-size: cover;
  object-fit: cover;
}

/* =-=-=-=-=-=-=-= 상단바 네비게이션 =-=-=-=-=-=-=-= */

.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid lightgray;
  gap: 1em;
}

.nav-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  font-size: larger;
  gap: 3em;
}

.nav-link{
  font-size: larger;
  padding: 0.1em 1em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
  align-items: center;
  font-weight: 650;
}

/* =-=-=-=-=-=-=-= 중단 메인 =-=-=-=-=-=-=-= */

.main{
  padding: 60px 0;
  flex: 1;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* =-=-=-=-=-=-=-= 게시글 =-=-=-=-=-=-=-= */

.post{
  flex: 3;
  height: 70vh;
  overflow-y: scroll;
}

.post-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3em;
}

.post-meta{
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 1em;
}

/* =-=-=-=-=-=-=-= 사이드 네비게이션 =-=-=-=-=-=-=-= */

.category{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.category-list{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.category-low-ul{
  list-style-type: " - ";
}

footer{
  height: 150px;
  border-top: 1px solid lightgray;
}